#hero-section{
    // background: url('../assest/images/pizza.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    color: black;
    // background-position: bottom center;
    // margin-bottom: 90px;
    #cf{
        display: flex;
        // max-width: 100vw;
        height: 90vh;
        
        align-items: center;
        background-color: #FAFAFA;
        justify-content: space-around;
        padding-left: 125px;
    }
}
